body {
	position: relative;
	background: lightgray;
}

p, a, .btn, address {
	font-family: 'Hind', sans-serif;
}

h1, h2, h3 {
	font-family: 'Josefin Sans', sans-serif;
}


.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	background: #5c8cdb;
	color: white;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
}


.navbar-inverse .navbar-nav li a {
	color: white;
	font-size: larger;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	height: 150%;
	padding: 1px;
	padding-right: 4px;
	width: auto;
}

.navbar .dropdown-menu li a {
	color: black;
}

.navbar-inverse .navbar-nav .open a:focus{
	background-color: #2563c6;
}

.carousel-caption p {
	display: inline-block;
	background: rgba(0, 0, 0, .4);
	padding: .2em .2em .2em .2em;
}

.align-left {
	float: left;
}

.align-center {
	float: right;
}

.align-right {
	float: right;
}

#myCarousel {
    margin-bottom: 2em;
}

.item {
	height: 500px;
}

#card-panel {
	padding: 0;
}

#card-panel img {
	width: 100%;
}

.panel-index {
	width: 280px;
	height: auto;
}

.product-row {
	margin-bottom: 2em;
}

.panel-product {
	position: relative;
	height: 600px;
}

.panel .panel-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.btn-primary {
	background-color: #5C9AFF;
	border-color: #5C9AFF;
}

.btn-primary:hover {
	background-color: #54A1BB;
	border-color: #54A1BB;
}

.affix {
  top: 20px;
  z-index: 9999 !important;
}

#contact-form {
	margin-top: 5em;
	margin-bottom: 1em;
}

.form-group {
	/*width: 50%;*/
}

.form-group label {
	font-weight: 150;
}

textarea {
	resize: none;
}

/*@media screen and (max-width: 810px) {
#boards, #boots, #bindings {
    margin-right: 150px;
}
}*/

.affix-top {
	min-width: 100%;
}

.modal-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

select option[data-default] {
	color: #888;
}

.btn-cart {
	margin-left: 200px;
}

footer {
	background: rgba(0, 0, 0, .75);
	color: white;
	text-align: center;
	padding-bottom: 1em;
	padding-top: .75em;
}


.footer-link {
	color: white;
	padding-right: 1em;
}

.footer-link:hover {
	color: #5C8CDB;
}

.footer-link p a {
	padding-right: .05em;
}

.fa {
	font-size: 32px;
	color: #5C9AFF;
	padding-right: .5em;
}

.fa:hover {
	color: #54A1BB;
}

