body {
	position: relative;
	background: lightgray;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	height: 100%;
	padding: 1px;
	padding-right: 4px;
	width: auto;
}

.carousel-caption p {
	background: rgba(0, 0, 0, .4);
}

#myCarousel {
    margin-bottom: 2em;
}

.item {
	height: 500px;
}

#card-panel {
	padding: 0;
}

#card-panel img {
	width: 100%;
}

.product-row {
	margin-bottom: 2em;
}

.panel {
	position: relative;
}

.affix {
  top: 20px;
  z-index: 9999 !important;
}

/*.nav-pills {
}*/

#contact-form {
	margin-top: 5em;
	/*margin-left: 5em;*/
}

.form-group {
	width: 50%;
}

.form-group label {
	font-weight: 150;
}

textarea {
	resize: none;
}

/*@media screen and (max-width: 810px) {
#boards, #boots, #bindings {
    margin-right: 150px;
}
}*/

.affix-top {
	min-width: 100%;
}

/*.product-heading {
	width: 100%;
}*/